body{
	background: #454545;
	color:#eee;
}
.side{
	float:left;
	width: 20%;
	position: fixed;
}
.main{
	float: right;
	width: 80%;
}

.side a,.item>.title,.article>.title{
	color:#eee;
	text-decoration: none;
}

.logo{
	display: inline-block;
	border: 5px solid #eee;
	padding: 10px;
	font-size:22px;
	margin-bottom: 20px;
}
.side>*{
	padding: 40px 20px;
}

.side>.nav a,
.side>.tag-list a{
	display: block;
	padding:10px;
	color:rgba(255,255,255,0.5);
}

.side>.nav{
	font-size: 20px;
}
.side>tag-list{
	font-size: 15px;
}
.side>.nav a:hover,
.side>.tag-list a:hover{
	color: #eee;
}

.article-list,.article{
	width: 70%;
	background:#fff;
	padding: 20px 30px;
	color: #666;
	line-height: 1.7;
}
.item>.title,.article>.title{
	color: #000;
	font-size: 22px;
}
.item>.status,.article>.status{
	color:#ccc;
	font-size: 15px;
}
.item>*,.article>*{
	margin-bottom: 15px;
}
.item{
	margin-bottom: 20px;
}
