body{
	margin: 0;
}
.container{
	width: 100%;
	padding-left: calc((100% - 29vw * 3) / 4);
}
.container .box{
	width: 29vw;
	height: 29vw;
	background-color: #FFA600;
	border-radius: 5%;
	margin: calc((100% - 29vw * 3) / 4) calc((100% - 29vw * 3) / 4) calc((100% - 29vw * 3) / 4) 0;
	float: left;
}